@font-face {
  font-family: "DaciaBlockExtendedBold";
  src: url("/fonts/DaciaBlockExtendedBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DaciaBlockExtendedLight";
  src: url("/fonts/DaciaBlockExtendedLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DaciaBlockExtended";
  src: url("/fonts/DaciaBlockExtended.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DaciaBlockLight";
  src: url("/fonts/DaciaBlockLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DaciaBlock";
  src: url("/fonts/DaciaBlock.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.title {
  @apply font-daciaBold font-bold text-white max-w-fit whitespace-pre-line uppercase;
}

.subtitle {
  @apply font-inter font-normal text-white;
}

.title-sections {
  @apply md:text-5xl md:leading-[67px] text-[2rem] leading-[45px];
}

.description {
  @apply md:text-xl md:leading-8 text-base leading-[22px] md:mt-4 mt-2;
}
