---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import elipse from "../assets/img/about-elipse.svg"
import Card from "../components/Card.astro";
import ConvertSection from "../components/ConvertSection.astro";
---

<Layout>
    <section class="max-w-7xl m-auto">
        <h2 class="text-white font-daciaBold md:text-5xl text-[2rem] whitespace-pre-line">CONNECTING USERS, SECURING TRADES,
            <span class="text-yellow">GLOBALIZING SPORTSBOOKS</span>
        </h2>
        <div class="md:mt-24 mt-7 grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-24">
            <div>
                <h3 class="font-daciaBold md:text-[2rem] text-2xl text-white">
                    OUR MISSION
                </h3>
                <p class="text-white font-inter md:text-base text-sm">
                    To connect bettors and sportsbooks by offering innovative ways
                    to engage with sports betting, create new revenue streams, and
                    provide decentralized and secure experiences for users and
                    operators worldwide.
                </p>
            </div>
            <div>
                <h3 class="font-daciaBold md:text-[2rem] text-2xl text-white">
                    OUR VISION
                </h3>
                <p class="text-white font-inter md:text-base text-sm">
                    To transform gaming for bettors and sportsbooks by building a
                    decentralized global marketplace. Our platform will empower users
                    by providing innovative ways to hedge, sell, and discover bets with
                    greater value, while offering sportsbooks a unique new venue to
                    reach and engage a worldwide audience with exclusive and
                    unconventional betting options through seamlessly integrated
                    technologies on Web3.
                </p>
            </div>
        </div>
        <Image src={elipse} alt="elipse" class="absolute -z-50 right-0 top-0 left-0" />
    </section>
    <ConvertSection />
</Layout>
