---
import Layout from "../layouts/Layout.astro";
import ConvertSection from "../components/ConvertSection.astro";
import WhySection from "../components/WhySection.astro";
import TangibleSection from "../components/TangibleSection.astro";
import BoostSection from "../components/BoostSection.astro";
import FounderSection from "../components/FounderSection.astro";
import ConnectionSection from "../components/ConnectionSection.astro";
---

<Layout>
    <section class="w-full">
        <div class="max-w[1440px] w-4/5 mx-auto">
            <ConnectionSection />
            <ConvertSection />
            <WhySection />
            <div class="relative">
                <div class="absolute inset-0 bg-yellow -z-10 w-screen left-1/2 -translate-x-1/2 h-full"></div>
                <TangibleSection />
            </div>
            <BoostSection />
            <FounderSection />
        </div>
    </section>
</Layout>
