---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import Betslip from "../components/Betslip.astro";
import Ownership from "../components/Ownership.astro";
import Trusted from "../components/Trusted.astro";
import Monkeys from "../components/Monkeys.astro";
import Mints from "../components/Mints.astro";
import Shops from "../components/Shops.astro";
import Auctions from "../components/Auctions.astro";
import TheApi from "../components/TheApi.astro"
import World from "../components/World.astro";
import Works from "../components/Works.astro";
---

<Layout>
	<section class="w-full md:pt-32 pt-28 md:overflow-hidden">
		<Hero />
		<Betslip />
		<Ownership />
		<Trusted />
		<Monkeys /> 
		<Mints />
		<Shops />
		<Auctions />
		<Works />
		<TheApi />
		<World />
	</section>
</Layout>