---
import { Image } from "astro:assets";

import Iphone from "../assets/img/Iphone12-auctions.svg"
import elipse from "../assets/img/ellipse-auctions.svg"
---

<section class="relative flex items-center w-full h-auto md:py-40 pt-10 pb-16 bg-black  z-40 overflow-hidden">
    <div class="flex flex-col md:flex-row-reverse items-center gap-4 md:m-auto max-w-fit px-4">
    <div class="flex flex-col items-start md:max-w-md text-left md:px-4 md:gap-4 gap-1">
        <div class="flex flex-col md:gap-2 gap-1">
            <h2 class="text-yellow font-daciaRegular font-bold md:text-5xl md:leading-[67px] text-[32px] leading-[45px] whitespace-pre-line" style="letter-spacing: -0.02em;">AUCTIONS</h2>      
            <div class="font-inter font-normal md:text-2xl md:leading-8 text-base leading-6">
                <p class="text-white">Reverse Selling Market</p>
                <p class="text-yellow">Bettors Sell to Sportsbooks</p>
            </div>
        </div> 
        <p class="font-inter font-normal text-white md:text-xl md:leading-8 text-sm leading-[22px] text-justify md:max-w-[434px]">Users create custom picks, which sportsbooks bid on to book, ensuring the best conditions for bettors.</p>
    </div>
    <div class="flex-shrink-0">
        <Image src={Iphone} alt="betslip" class="h-[70vh] rounded-md shadow-md relative z-50" />
    </div>
    </div>
    <Image src={elipse} alt="elipse" class="absolute -right-40 -z-50"/>
</section>

