---
import { Image } from "astro:assets";

import Iphone from "../assets/img/Iphone12-auctions.svg"
import elipse from "../assets/img/betslip-elipse.svg"
---

<section class="flex items-center w-full h-auto md:py-40 py-10 bg-black relative z-40">
    <div
        class="flex flex-col md:flex-row-reverse items-center gap-4 m-auto max-w-fit"
    >
    <div class="flex flex-col items-start max-w-md text-left p-4">
        <h2 class="text-yellow font-daciaBold font-bold max-w-fit whitespace-pre-line uppercase md:text-5xl md:leading-[67px] text-[2rem] leading-[45px]">AUCTIONS</h2>      
        <p class="text-white font-inter font-normal md:text-2xl md:leading-8 text-base leading-6">Reverse Selling Market</p>
        <p class="text-yellow font-inter font-normal md:text-2xl md:leading-8 text-base leading-6">Bettors Sell to Sportsbooks</p>
        <p class="font-inter font-normal text-white md:text-[18px] md:leading-8 text-base leading-[22px] md:mt-4 mt-2 text-justify">Users create custom picks, which sportsbooks bid on to book, ensuring the best conditions for bettors.</p>
    </div>
    <div class="flex-shrink-0">
        <Image src={Iphone} alt="betslip" class="h-[70vh] rounded-md shadow-md relative z-50" />
    </div>
    </div>
    <Image src={elipse} alt="elipse" class="absolute right-0 z-50" />
</section>
