---
import { Image } from "astro:assets";
---

<section class="bg-yellow h-screen">
    <div class="grid grid-cols-1 md:grid-cols-2 h-auto">
        <div>
            <h2 class="font-daciaBold">BETSELL . IO THE MARKETPLACE</h2>
            <p class="font-inter">Explore a wide range of appealing bets in our marketplace, designed to securely trade your stake while guaranteeing the legitimacy of your purchase, the privacy of your exchange transaction, and the assurance of the ticket payout.</p>
            <a href="/marketplace">Go to marketplace</a>
        </div>
        <div>
            <!-- <Image  -->
        </div>
    </div>
</section>