---
import { Image } from "astro:assets";
---

<section class="bg-yellow h-screen">
    <div class="grid grid-cols-1 md:grid-cols-2 h-auto">
        <div>
            <h2 class="font-daciaBold font-bold text-white max-w-fit whitespace-pre-line uppercase md:text-6xl md:leading-[84px] text-[2rem] leading[48px]">BETSELL . IO THE MARKETPLACE</h2>
            <p class="font-inter font-normal text-white md:text-xl md:leading-8 text-base leading-[22px] md:mt-4 mt-2">Explore a wide range of appealing bets in our marketplace, designed to securely trade your stake while guaranteeing the legitimacy of your purchase, the privacy of your exchange transaction, and the assurance of the ticket payout.</p>
            <a href="/marketplace" class="font-inter font-semibold md:text-[18px] md:leading-[22px] text-sm leading-4">Go to marketplace</a>
        </div>
        <div>
            <!-- <Image  -->
        </div>
    </div>
</section>