---
import { Image } from 'astro:assets';

interface Props {
  src: ImageMetadata; 
  title: string;
  description: string;
  border?: boolean;
  black?: boolean; 
}

const { src, title, description, border = false, black = false }: Props = Astro.props;
---

<div 
  class:list={{
    'md:max-w-[345px] max-w-[337px] bg-transparent flex flex-col gap-3': true,
    'border-y-[1px] md:py-10 py-10': border, 
    'border-dashed': border,
    'border-black': border && black,
    'border-white': border && !black,
  }}
>
  <Image src={src} class="md:w-9 md:h-9 w-7 h-7" alt={title} />
  <h3 class:list={{
    'text-white': !black,
    'text-black': black
  }} class="font-inter font-semibold md:text-xl text-base" style="letter-spacing: -0.02em;">{title}</h3>
  <p class:list={{
    'text-white': !black,
    'text-black': black
  }} class="font-inter text-sm text-justify">{description}</p>
</div>
