---
import { Image } from 'astro:assets';
// Props definition
interface Props {
  src: ImageMetadata; // Espera metadata generada por astro:assets
  title: string;
  description: string;
}

// Props destructuring
const { src, title, description }: Props = Astro.props;
---

<div class="md:max-w-[345px] max-w-[337px] bg-transparent flex flex-col gap-3">
  <Image src={src} class="md:w-9 md:h-9 w-7 h-7" alt={title} />
  <h3 class="text-white font-inter font-semibold md:text-xl text-base">{title}</h3>
  <p class="text-white font-inter text-sm">{description}</p>
</div>
