---
import diamond from "../assets/img/diamond.svg"
import blockchain from "../assets/img/blockchain.svg"
import cube from "../assets/img/ion_cube.svg"
import market from "../assets/img/market.svg"
import money from "../assets/img/money-bag.svg"
import ticket from "../assets/img/ticket.svg"
import Card from "./Card.astro"

const info = [ 
    {
        icon: ticket,
        title: "Capitalize on improved odds",
        description: 'Unlock the value of the future bets with better than market odds'
    },
    {
        icon: blockchain,
        title: "Maximize Almost Win Parlays",
        description: 'Turn near wins into tangible opportunities.'
    },
    {
        icon: money,
        title: "Secure Guaranteed Wins",
        description: 'Cash out early without heavy sportsbook penalties.'
    },
    {
        icon: diamond,
        title: "Access exclusive bet opportunities",
        description: 'Unlock the value of the future bets with better than market odds'
    },
    {
        icon: market,
        title: "Leverage Favorable Market Changes",
        description: 'Benefit when market odds swing in your favor.'
    },
    {
        icon: cube,
        title: "Free up Account balances",
        description: 'Sell bets at a discount to get out of your current stake.'
    },
]
---

<section class="relative w-full m-auto md:min-h-[936px] grid py-10">
    <div class="max-h-fit z-20 max-w-fit m-auto">
        <div>
            <h2 class="text-white font-daciaBold font-bold md:text-[32px] text-[1.7rem] whitespace-pre-line md:leading-[3.5rem]">WHY <span class="text-yellow">CONVERT</span> YOUR BETS
                INTO DIGITAL CERTIFIED TICKETS?
            </h2>
            
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-9 md:gap-y-14 m-auto md:mt-12">
            {info.map((item) => (
              <Card src={item.icon} title={item.title} description={item.description} />
            ))}
          </div>
        
    </div>
</>
