---
import { Image } from "astro:assets";

import logo from "../assets/img/footer-logo.svg";
import linkedin from "../assets/img/LinkedIn.svg";
import twitter from "../assets/img/Twitter.svg";
import elipse from "../assets/img/footer-ellipse.svg";
---

<section class="relative h-[505px] bg-yellow">
    <div class="h-full py-20 px-32 flex flex-col justify-between z-10">
        <div class="flex flex-row justify-between h-[133px] py-10">
            <div class="flex flex-col justify-between gap-2">
                <p
                    class="font-inter font-medium md:text-xl md:leading-8 text-base leading-[22px]"
                >
                    Join the community
                </p>
                <div class="flex flex-row justify-between">
                    <Image
                        src={linkedin}
                        alt="logo de LinkedIn"
                        class="w-20 h-20 rounded-xl"
                    />
                    <Image
                        src={twitter}
                        alt="logo de Twitter"
                        class="w-20 h-20 rounded-xl"
                    />
                </div>
            </div>
            <div class="flex flex-col justify-between gap-2">
                <p
                    class="font-inter font-medium md:text-xl md:leading-8 text-base leading-[22px]"
                >
                    Want to join us?
                </p>
                <div class="flex flex-row">
                    <button
                        class="font-inter font-medium md:text-[22px] md:leading-[32px] text-base leading-[22px] bg-[#121212] text-white p-2.5 rounded-[8px] whitespace-nowrap"
                        >Contact founders</button
                    >
                </div>
            </div>
        </div>
        
        <div class="w-full h-[1px] bg-[#000000A3] my-10"></div>
        
        <Image src={logo} alt="logo" class="mx-auto" />
    </div>
    <Image src={elipse} alt="elipse" class="absolute top-0 -z-10" />
</section>
