---
import { Image } from "astro:assets";

import HeroDesktop from "../assets/img/hero.webp";
import HeroHD from "../assets/img/hero-hd.webp";
import elipse from "../assets/img/ellipse-hero.svg";
---

<section class="relative flex md:flex-row m-auto h-screen w-full">
        <div class="w-1/2 flex justify-center">
            <div class="w-4/5 max-w-xl text-left my-auto flex flex-col">
                <h1
                class="font-daciaBold font-bold text-white max-w-fit whitespace-pre-line uppercase lg:text-[2rem] xl:text-[2.5rem] 2xl:text-[3rem] text-[1.5rem] leading-[2rem] lg:leading-[3rem] xl:leading-[3.125rem] 2xl:leading-[5.625rem]" style="letter-spacing: -0.02em;"
                >The global <br class="hidden md:block">hub for <span class="text-yellow">bet <br class="hidden md:block"> trading</span>
            </h1>
            <p class="font-inter font-normal text-white text-sm leading-[1.5rem] md:text-base lg:text-lg xl:text-xl md:leading-8 md:mt-4 mt-2">
                Transform your bets into unique digital assets and securely trade
                them worldwide on the BetSell Marketplace.
            </p>
            <a
                href="/marketplace"
                class="bg-yellow text-black p-4 rounded-xl font-bold max-w-fit m-auto mt-5 md:hidden"
                >Go to Marketplace</a
            >
            </div>
        </div>
        <div class="w-1/2 self-center relative">
            <Image src={HeroDesktop} alt="Bet Sell" class="w-full" />
        </div>
    <Image src={elipse} alt="elipse" class="absolute -z-50 -left-48 -top-48" />
</section>
