---
import { Image } from "astro:assets";

import HeroDesktop from "../assets/img/hero.webp";
import HeroMobile from "../assets/img/hero-sm.webp";
import elipse from "../assets/img/hero-elipse.svg"
---

<section
    class="flex flex-col md:gap-20 max-w-7xl m-auto md:min-h-[611px] h-screen justify-center"
>
    <div class="w-full">
    </div>
    <div
        class="md:max-w-xl md:text-left text-center my-auto flex flex-col"
    >
        <h1
            class="font-daciaBold text-6xl md:text-7xl text-white font-bold max-w-fit whitespace-pre-line uppercase leading-[124%]"
        >The global hub for <span class="text-yellow">bet trading</span>
        </h1>
        <p class="font-inter text-white text-xl leading-8 md:mt-4 mt-2">
            Transform your bets into unique digital assets and securely trade
            them worldwide on the BetSell Marketplace.
        </p>
        <a
            href="/marketplace"
            class="bg-yellow text-black p-4 rounded-xl font-bold max-w-fit m-auto mt-5 md:hidden"
            >Go to Marketplace</a
        >
    </div>
    <div class="hidden md:absolute right-0 w-full md:flex justify-end">
        <Image src={HeroDesktop} alt="Bet Sell" height={611} class="w-auto" />
    </div>
    <div class="md:hidden flex justify-end">
        <Image src={HeroMobile} alt="Bet Sell" height={439} class="w-auto" />
    </div>
    <Image src={elipse} alt="elipse" class="absolute -z-50 left-0 top-0" />
</section>
