---
import { Image } from "astro:assets";

import HeroDesktop from "../assets/img/hero.webp";
import elipse from "../assets/img/ellipse-hero.svg";
import elipseMobile from "../assets/img/ellipse-hero-sm.svg";
---

<section class="max-w-[1440px] relative m-auto h-auto md:pt-[35px] md:pb-[119px] overflow-hidden md:overflow-visible md:pl-20">
    <div class="grid md:grid-cols-2 grid-cols-1 gap-10 md:gap-0">
        <div class="text-center md:text-left my-auto flex flex-col max-w-[570px] md:gap-4 gap-3 px-5 md:px-0">
            <h1
            class="font-daciaRegular font-bold text-white text-[40px] leading-[49px] md:text-7xl uppercase md:leading-[124%] whitespace-pre-line" style="letter-spacing: -0.02em;"
            >The global
            hub for <span class="text-yellow">bet
            trading</span></h1>
        <p class="font-inter font-normal text-sm leading-[22px] md:text-xl text-white md:leading-8 max-w-[281px] md:max-w-fit m-auto">
            Transform your bets into unique digital assets and securely trade
            them worldwide on the BetSell Marketplace.
        </p>
        <a
            href="https://betsell.io/"
            target="_blank"
            class="font-inter font-semibold text-[16px] leading-5 bg-yellow text-black p-4 rounded-lg max-w-fit m-auto md:hidden"
            >Go to Marketplace</a
        >
        </div>
        <div class="self-center relative">
            <Image src={HeroDesktop} alt="Bet Sell" class="max-h-[616px] ml-[18px] md:ml-0" />
        </div>
    </div>
    <Image src={elipse} alt="elipse" class="hidden md:block absolute md:-z-50 md:-left-48 md:-top-48 top-0" />
    <Image src={elipseMobile} alt="elipse" class="block absolute md:hidden -z-10 bottom-0" />
</section>
