---
import { Image } from "astro:assets";

import monkey3 from "../assets/img/monkeys.png";
import monkeySm from "../assets/img/monkeys-sm.png";
import elipse1 from "../assets/img/ellipse-monkeys.svg";
---

<section class="relative bg-yellow flex items-center w-full md:max-h-full overflow-hidden md:h-auto md:py-0 pt-10 pb-2">
    <div class="flex md:flex-row flex-col relative max-w-[1440px] m-auto w-full justify-between z-40 md:min-h-[898px] gap-5">
        <div class="flex flex-col justify-center md:ml-7 max-w-[353px] md:max-w-[678px] gap-4 pl-2 ">
            <h2 class="font-daciaRegular font-black md:text-[60px] md:leading-[140%] text-[32px] leading-[140%]" style="letter-spacing: -0.02em;">
                BETSELL.IO <br />THE MARKETPLACE
            </h2>
            <p class="font-inter md:text-xl md:leading-8 md:max-w-[586px] text-sm leading[22px] text-left">
                Explore a wide range of appealing bets in our marketplace,
                designed to securely trade your stake while guaranteeing the
                legitimacy of your purchase, the privacy of your exchange
                transaction, and the assurance of the ticket payout.
            </p>
            <a
            href="https://betsell.io/"
            target="_blank"
            class="bg-black text-white text-center text-sm md:text-[18px] md:max-w-[212px] w-full p-4 rounded-xl font-semibold hover:bg-[#212121] cursor-pointer max-w-[166.41px]"
            >Go to Marketplace</a
        >
        </div>
        <div class="px-2 md:px-0">
            <Image
                src={monkey3}
                alt="monos"
                class="hidden md:block w-full h-full object-fit right-0"
            />
            <Image
                src={monkeySm}
                alt="monos"
                class="md:hidden block w-full h-full object-fit right-0"
            />
        </div>
        <Image src={elipse1} alt="elipse" class="absolute right-0 -z-10 bottom-0 top-0 " />
    </div>
</section>
