---
import { Image } from "astro:assets";

import elipse from "../assets/img/ownership-elipse.svg"
import ownership from "../assets/img/ownership.webp";
---

<section class="relative flex items-center w-full h-auto md:py-40 py-10">
    <div
        class="flex flex-col-reverse md:flex-row-reverse items-center md:m-auto md:gap-[50px] gap-[66px]"
    >
        <div class="flex-shrink-0 max-w-72">
            <Image src={ownership} alt="betslip" class="rounded-md shadow-md" width={300} />
        </div>
        <div class="flex flex-col items-start max-w-md text-left md:gap-4 gap-3 md:p-0 px-4 md:pl-0">
            <h2 class="text-yellow font-daciaRegular font-bold md:text-5xl md:leading-[67px] text-[32px] leading-[45px] whitespace-pre-line" style="letter-spacing: -0.02em;">OWNERSHIP</h2>

            <p class="font-inter font-normal text-white md:text-xl md:leading-8 text-sm leading-[22px] text-left md:max-w-[434px]">
                Transform your bet into a digitally certified ticket, securely
                stored in your personal wallet linked to your email. This
                ensures a unique, irreplicable version of your bet and provides
                you with exclusive rights and undeniable proof of ownership.
            </p>
        </div>
    </div>
    <Image src={elipse} alt="elipse" class="absolute -z-50 left-0" />
</section>
