---
import { Image } from "astro:assets";

import elipse from "../assets/img/ownership-elipse.svg"
import ownership from "../assets/img/ownership.webp";
---

<section class="flex items-center w-full py-10 h-screen">
    <div
        class="flex flex-col-reverse md:flex-row-reverse items-center gap-4 m-auto max-w-fit"
    >
        <div class="flex-shrink-0">
            <Image src={ownership} alt="betslip" class="rounded-md shadow-md" />
        </div>
        <div class="flex flex-col items-start max-w-md text-left p-4">
            <h2 class="text-yellow font-daciaBold font-bold text-white max-w-fit whitespace-pre-line uppercase md:text-5xl md:leading-[67px] text-[2rem] leading-[45px]">OWNERSHIP</h2>

            <p class="font-inter font-normal text-white md:text-xl md:leading-8 text-base leading-[22px] md:mt-4 mt-2">
                Transform your bet into a digitally certified ticket, securely
                stored in your personal wallet linked to your email. This
                ensures a unique, irreplicable version of your bet and provides
                you with exclusive rights and undeniable proof of ownership.
            </p>
        </div>
    </div>
    <Image src={elipse} alt="elipse" class="absolute -z-50 left-0" />
</section>
