---
import { Image } from "astro:assets";
import elipse from "../assets/img/ellipse-tangible.svg";

import tangible from "../assets/img/icon-tangible.svg";
import ownership from "../assets/img/icon-ownership.svg";
import transparency from "../assets/img/icon-transparency.svg";
import market from "../assets/img/icon-market.svg";
import exclusivity from "../assets/img/icon-exclusivity.svg";
import integration from "../assets/img/icon-integration.svg";
import Card from "./Card.astro";

const info = [
    {
        icon: tangible,
        title: "Tangible value",
        description:
            "Instead of a traditional physical bet slip or centralized digital bet, BetSell provides a unique digital asset that can be bought, sold, and traded worldwide.",
    },
    {
        icon: ownership,
        title: "Ownership & Provenance",
        description:
            "With each NFT digital ticket representing a specific bet, you have a verifiable record of your wager, giving it authenticity and increasing its value as a tradable asset.",
    },
    {
        icon: transparency,
        title: "Transparency & Verification",
        description:
            "The immutable nature of blockchain ensures that the details and performance of your bets can be tracked and verified by anyone, fostering trust and confidence in the authenticity of your digital ticket.",
    },
    {
        icon: market,
        title: "Open Market Opportunities",
        description:
            "By minting your sports bets as digital certified tickets, you gain access to a global marketplace of gamblers. This opens up opportunities to sell your bets, potentially generating instant revenue.",
    },
    {
        icon: exclusivity,
        title: "Exclusivity",
        description:
            "NFTs introduce a new level of scarcity and exclusivity to bets, making them more valuable and appealing to gamblers who appreciate market opportunities.",
    },
    {
        icon: integration,
        title: "Integration of Technology",
        description:
            "Merging sports betting with blockchain technology through NFTs keeps you at the forefront of industry trends, appealing to tech-savvy individuals and showcasing your willingness to explore new possibilities.",
    },
];
---


<section class="relative w-full m-auto md:min-h-[936px] grid md:pt-[133px] md:pb-[80px] py-10 bg-yellow">
    <Image src={elipse} alt="elipse" class="hidden md:block md:absolute z-0 -top-10 w-screen"/>
    <div class="grid grid-cols-1 max-w-7xl w-full max-h-fit z-20 m-auto px-4 md:px-0 md:gap-[71px] gap-[28px]">
        <div class="max-w-[757px] grid grid-cols-1 md:gap-3 gap-2">
            <h2 class="font-daciaRegular font-bold text-black text-[32px] md:text-5xl uppercase leading-[145%] md:leading-[145%] max-w-fit" style="letter-spacing: -0.02em;">ADDING TANGIBLE VALUE TO YOUR BETTING ASSETS</h2>
            <p class="text-black font-inter md:text-base text-[14px] leading-[22px]" style="letter-spacing: -0.02em;">
                Transforming a bet into an NFT-based digital ticket opens up new
                avenues for engagement, revenue generation, and interactions
                within the sports betting community.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-9 md:gap-y-14">
            {info.map((item) => (
              <Card src={item.icon} title={item.title} description={item.description} border black />
            ))}
          </div>
    </div>
</section>
