---
import { Image } from "astro:assets";

import elipse from "../assets/img/ownership-elipse.svg"
import Theapi from "../assets/img/TheApi.svg"
---

<section class="flex items-center justify-end w-full h-screen">
    <div class="flex flex-col justify-between md:flex-row items-center gap-8">
        <div class="flex flex-col items-start text-left p-4 w-2/5 ml-40 gap-8">
            <h2 class="font-daciaBold font-bold text-5xl">
                <span class="text-white">THE</span> <span class="text-yellow">BETSELL API</span>
            </h2>                  
            <p class="text-white font-inter font-normal text-xl">Link your sportsbooks to BetSell’s Marketplace, enabling seamless conversion of pending bets into verified digital tickets. Through blockchain technology and partnerships with betting companies, the BetSell API ensures each ticket’s authenticity, enhancing sportsbook liquidity by maximizing their company’s overall exposure to a global betting market.</p>
            <button class="bg-yellow w-fit px-2.5 py-2.5 font-inter font-semibold rounded-[10px] mt-6">Request API</button>
        </div>
        <div class="w-2/5 ml-auto">
            <Image src={Theapi} alt="betslip" class="vh-[70vh] rounded-md shadow-md" />
        </div>
    </div>
    <Image src={elipse} alt="elipse" class="absolute z-10 left-0" />
</section>