---
import { Image } from "astro:assets";

import elipse from "../assets/img/ownership-elipse.svg"
import world from "../assets/img/world.webp"
---

<section class="flex items-center justify-end w-full h-auto py-10 md:py-40">
    <div class="flex flex-col justify-between md:flex-row items-center gap-8">
        <div class="w-2/5">
            <Image src={world} alt="betslip" class="max-h-[80vh] rounded-md shadow-md" />
        </div>
        <div class="flex flex-col items-start text-left p-4 w-2/5 mr-40 gap-8">
            <h2 class="font-daciaBold font-bold text-white max-w-fit whitespace-pre-line uppercase md:text-[32px] md:leading-[67px] text-[2rem] leading-[45px]">
                <span class="text-white">YOUR BETS ARE NOW</span> <span class="text-yellow">ACCESSIBLE</span> 
                <span class="text-white">TO PLAYERS</span> <span class="text-yellow">WORLDWIDE</span>
            </h2>                  
            <p class="font-inter font-normal text-white md:text-xl md:leading-8 text-base leading-[22px] md:mt-4 mt-2 text-justify">Discover a vast array of betting options across a wide range of sporting events. BetSell makes bet trading easy and secure. Whether you're aiming for a guaranteed win or looking to seize incredible deals and opportunities, this will redefine your gaming experience.</p>
        </div>
    </div>
    <Image src={elipse} alt="elipse" class="absolute -z-50 left-0" />
</section>