---
import { Image } from "astro:assets";

import elipse from "../assets/img/ownership-elipse.svg"
import world from "../assets/img/world.webp"
---

<section class="md:relative flex flex-col-reverse md:flex-row md:h-936px py-10 pt-[100px] md:pt-0 w-[375px] md:w-[1440px] m-auto overflow-hidden">
        <div class="static md:relative top-[-41px] left-[-321px]">
            <Image src={world} alt="world" class="w-[375px] md:w-[1030px] rounded-md shadow-md" />
        </div>
        <div class="static md:absolute top-[274px] left-[683px] flex flex-col max-w-[611px] gap-3 mx-4 md:mx-0">
            <h2 class="font-daciaRegular font-bold text-white text-[32px] leading-[44px] md:text-[48px] uppercase md:leading-[67px] whitespace-pre-line" style="letter-spacing: -0.02em;">
                <span class="text-white">YOUR BETS ARE NOW</span> <span class="text-yellow">ACCESSIBLE</span> 
                <span class="text-white">TO PLAYERS</span> <span class="text-yellow">WORLDWIDE</span>
            </h2>                  
            <p class="font-inter font-normal text-white md:text-xl md:leading-8 text-sm leading-[22px] text-justify pr-0 md:pr-[74px]">Discover a vast array of betting options across a wide range of sporting events. BetSell makes bet trading easy and secure. Whether you're aiming for a guaranteed win or looking to seize incredible deals and opportunities, this will redefine your gaming experience.</p>
        </div>
    <Image src={elipse} alt="elipse" class="absolute -z-50 left-0" />
</section>
