@font-face {
    font-family: 'DaciaBlockExtendedBold';
    src: url('/fonts/DaciaBlockExtendedBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DaciaBlockExtendedLight';
    src: url('/fonts/DaciaBlockExtendedLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DaciaBlockExtended';
    src: url('/fonts/DaciaBlockExtended.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DaciaBlockLight';
    src: url('/fonts/DaciaBlockLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DaciaBlock';
    src: url('/fonts/DaciaBlock.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  